/* Styles CSS - Vins de Loire */

body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d2691e;
    background: url(/home/etuinfo/qbernard/Documents/Html/TP1/Ressources/images/bouteille.png) #ea9e69 fixed bottom right no-repeat;
}
/* Définition du corps de la page */
/* police Trebuchet MS, arial ou sans-serif */
/* couleur du texte : d2691e */
/* image de fond : couleur ea9e69, bouteille, sans répétition, fixe, en bas à droite */

header, main, footer{
    width: 1024px;
    margin: 20px auto 20px ;
    padding: 10px;
    border: 4px inset #d2691e;
    background: #fff;
}
/* Définition en-tête, main et pied de page*/
/* largeur de 1024 pixels */
/* marge externe : 20 pixels en haut et en bas, auto à gauche et à droite */
/* marge interne : 10 pixels */
/* bordure : 4 pixels, inset et de couleur d2691e */
/* fond de couleur fff */

h1{
    font-family:sans-serif;
    text-transform: capitalize;
    text-align-last: center;
    word-spacing: 20px;
    background-image:url(./images/feuille_vigne.png);
}
/* Définition titre de niveau 1 */
/* police Bauhaus 93, futura ou sans-serif, taille de la police de 2,5 em, interligne de 2,1 em et lettres en petites capitales */
/* premières lettres de chaque mot en majuscules */
/* texte centré */
/* espacement des mots : 20 pixels */
/* image de fond : feuille_vigne */

h2{
    font-style: oblique;
    color: #d2691e;
    font: bold;
    text-align-last: center;
    letter-spacing: 5px;
    line-height: 1.8em;
    background: #a52a2a;
    margin: 20px 10% 20px;
}
/* Définition titre de niveau 2 */
/* style oblique */
/* police grasse */
/* police de couleur : d2691e */
/* alignement centré */
/* espacement des lettres de 5 pixels */
/* interligne de 1,8 em */
/* couleur de fond : a52a2a */
/* marge externe : 20 pixels en haut et en bas, 10% à gauche et à droite */

h3, h4, #Bachique, #tuffeau{
    color: #a52a2a;
}
/* Définition titres de niveau 3 et 4 et les termes définis au niveau du glossaire */
/* police de couleur a52a2a */

h3{
    font:italic bold;
    text-align-last: center;
    border: 3px #a52a2a double;
    background: url(./images/mini_bouteille.png) no-repeat left;
    width: 600px;
    height: 40px;
    margin: 20px auto 20px;
    padding: 12px 0 0;
}
/* Définition titre de niveau 3 */
/* style italique */
/* police grasse */
/* alignement centré */
/* épaisseur de la bordure de 3 pixels */
/* couleur de la bordure a52a2a */
/* style de la bordure : double */
/* images de fond : mini_bouteille, sans répétition, à gauche */
/* largeur de 600 pixels */
/* hauteur de 40 pixels */
/* marge externe de 20 pixels en haut et en bas, et automatique ailleurs */
/* marge interne égale à 12px en haut et 0 ailleurs */
	
h4{
    padding-left: 20px;
    border-left: solid 4px;
    border-bottom: solid 2px;
    margin-top: 20px;
    margin-right: 70%;
}
/* Définition titre de niveau 4 et les termes définis au niveau du glossaire */
/* décalage du texte de 20 pixels */
/* bordure gauche style solid, épaisseur de 4 pixels */
/* bordure basse style solid, épaisseur de 2 pixels */
/* marge externe de 20 pixels en haut et de 70% à droite */

.vinrouge{
    background-color: #ffaeb9;
}
/* Définition classe vinrouge */
/* fond de couleur ffaeb9 */

.vinblanc{
    background-color: #ff9;
}
/* Définition classe vinblanc*/
/* fond de couleur ff9 */

blockquote{
    color: white;
    background-color: #d2691e;
    text-align-last: center;
    margin: 2px 180px 2px;
    padding: 2px 40px 2px;
    border-left: 6px double white;
    border-right: 6px double white;
}
/* Définition du bloc de citation */
/* police de couleur blanche */
/* fond de couleur d2691e */
/* texte centré */
/* marges droite et gauche : 180 pixels et haute et basse : 2 pixels */
/* marge interne droite et gauche de 40 pixels, haute et basse de 2 pixel */
/* bordure gauche : 6 pixels, double et de couleur blanche */
/* bordure droite : 6 pixels, double et de couleur blanche */

ul > li{
    list-style: url(./images/puce_grappe.png) disc inside;
    font-variant: small-caps;
}
/* Définition liste non ordonnée */
/* liste à puce avec aspect disque ou puce_grappe positionnée à l'intérieur */
/* lettres en petites capitales */


ul > li > ul > li{
    list-style: square inside;
    font-variant: normal;
}
/* Définition sous liste non ordonnée */
/* liste à puce avec aspect carré, sans image et à l'intérieur */
/* lettres sans petites capitales */


a:visited, a{
    color: #a52a2a;
}
/* Définition liens normaux ou visités */
/* lien de couleur a52a2a */


ul > li > a{
    font-size: 1.2em;
    line-height: 1.5em;
}
/* Définition liens présents comme élément d'une liste */
/* taille de la police de 1,2 em */
/* interligne de 1,5 em */


main > article > h3 + p{
    text-align: center;
    font-size: 0.9em;
}
/* Définition paragraphe "appellation" */
/* texte centré */
/* taille de la police 0,9 em */


main > article > h4 + p{
    text-indent: 30px;
    text-justify: auto;
    word-spacing: -2px;
}
/* Définition paragraphe "localisation" */
/* alinéa de 30 pixels */
/* texte justifié */
/* espacement des mots : -2 pixels */

.Bachique, .tuffeau{
    background: yellow ;
    text-decoration: none;
    padding-left: 2px ;
    padding-right: 2px ;
}
/* Définition terme présent dans le glossaire */
/* fond de couleur jaune */
/* texte non souligné */
/* marge interne 2 pixels à gauche et à droite */

figcaption {
    text-align: center;
}

#Bachique::first-letter, #tuffeau::first-letter{
    font-size: 1.5em;
}
/* Définition première lettre des termes du glossaire */
/* police 1,5 em */

a:active, a:hover, .fleuve{
    background-color: #a52a2a;
    color: white;
}
/* Définition liens survolés ou actifs et nom de fleuve mis en valeur */
/* police de couleur blanche */
/* fond de couleur a52a2a */

header > img, img, main > article > img, video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px inset #a52a2a;
}
/* Définition images et videos */
/****** changement de mode d'affichage : insertion de type bloc */
/****** marge externe de 0 pixel en haut et en bas, automatique à gauche et à droite */
/* bordure 1px inset a52a2a */


footer >a > img{
    border: 0px;
}
/* Définition image de la flêche */
/* pas de bordure */

nav{
    text-align: center;
}
/* Définition légendes et paragraphe de navigation */
/* texte centré */

table{
    max-width: 80%;
    margin: 20px auto 20px;
    border-collapse: separate;
    empty-cells: hide;
}
/* Définition tableau *
/* largeur de 80% */
/* marge externe de 20 pixels en haut et en bas, automatique à gauche et à droite */
/* bords des cellules séparés */ 
/* cellule vide masquée */

td{
    border: 1px solid #a52a2a;
    text-align: center;
}
/* Définition cellules */
/* bord d'une épaisseur de 1 pixel, trait continu et couleur a52a2a */
/* texte centré */


/* Définition meilleure note */
/* texte en gras */ 

th{
    color: #a52a2a;
    background: #fff;
}
/* Définition cellules d'en-tête */
/* police de couleur a52a2a */
/* couleur de fond ccc */